@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
body, header, footer{
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
}

/** Menu Superior **/
.navbar{
    background-color: #443F57;
}
.navbar-nav{
   margin-right: 5%;
}
.logo{
    margin: 1% 0% 1% 5%;
    max-width: 10%;
}
.navbar-nav li{
   margin-right: 40px;
   margin-left: 20px;
}
.navbar-nav li a{
    color: white;
}


/** Corpo texto **/
/*Conteúdo*/
.conteudo{
    padding: 0% 14% 0% 9.5% !important;
    margin: 0% !important;
    
}
.row{
    margin: 0px !important;
}
#row-main{
    overflow-x: hidden;
}
.estilo{
   margin-left: 9.5% !important;
   background-color: #443F57;
}
.col-md-2{
    padding: 20px;
    padding-left: 0px !important;
    background-color: #F5F5F5;
}
.col-md-10{
    padding: 0px !important;
    max-width: 100%;
}
.col-md-12{
    padding: 0% !important;
}
.blocoTexto{
    background-color: #ff6f61;
    color: white;
    padding-top: 30px;
}
#bloco1{
    padding: 25px 100px 10px 0px !important;
}
#bloco3{
    padding: 50px 50px 50px 0px !important;
}
.blocoTexto li{
    list-style: none;
}
.blocoTexto .pinfo{
    margin-top: 10px !important;
    margin-left: 40px;  
}
.informativo{
    background-color: #F5F5F5;
    color: black;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 40px 40px 10px 50px;
    position: relative;
}
#acordeao{
    padding-bottom: 45px;
}
#acordeao ul{
    padding: 0px; 
}
#acordeao .card-body{
    background-color:  #F5F5F5;
}
.imginfo{
    position: absolute;
    top: -20px;
}
.imgshare{
    position: absolute;
    margin-left: 85%;
    margin-top: -5%;
}
.text-center{
    margin-top: 80px;
    margin-bottom: 80px;
}
.text-center p{
    color: #ff6f61;
    font-weight: bold;
    font-style: italic;
}
hr{
    border: 1px #ff6f61;
    background-color:#ff6f61;
    height: 3px;
    width: 110px;
    margin-top: 30px;
    margin-bottom: 30px;
}
/* Formatação de Fontes*/

h1{
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 50px;
}
h2{
    font-size: 30px;
    font-weight: bold;
    color: #ff6f61;
    margin-bottom: 30px;
    margin-top: 50px;
    
}
h3{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 50px;
}
p{
    margin-bottom: 30px;
}
.pinfo{
    font-size: 20px; 
    font-weight: 600;
}
.card-title{
    margin-top: 0px !important;
    font-size:max(15px, 1.3vw);
}
/*Listas e Ícone*/
ul li{
    list-style: none;
}
.icon{
    display: flex;
    vertical-align: text-top;
}
.icon#arrow::before{
    font-family: "Font Awesome 5 Free";
    content: '\f061';
    font-weight: 900;
    margin-right: 15px;
}
.icon#checkmark::before{
    font-family: "Font Awesome 5 Free";
    content: '\f00c';
    font-weight: 900;
    margin-right: 15px;
}
#caretDown::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: 10px;
    display: inline-flex;
    vertical-align: bottom;
    margin-bottom: -2px;
}

/*Botão Modal*/
.btn{
    background-color: #9d9d9d;
    border: none;
    color: white;
    white-space: normal;
    margin-bottom: 40px;
}
.btn:hover{
    background-color: #e2e2e2;
    color: black;
}
.modal-body img {
    display: block;
    max-width: 100%;
    margin: 10px 0 0;
}


/* Barra de Navegação*/
.navegacao{
    background-color: #443F57;
    margin: 0px !important;
    max-width: 100%;
}
#proxima a, #anterior a{
    color: white;
    font-size: 18px;
    font-weight: bold;
    display: inline-flex;
    text-decoration: none;
    margin-bottom: 15px;
}
#proxima,  #anterior{
    color: white; 
    padding: 2% 15% 0% 15%;
}
/*Check Box*/
.form-check-label{
    font-weight: bold;
}
.centro{
    display: flex;
    justify-content: center;
    align-items: center;
}
#check1{
    margin-top: 50px;
    margin-bottom: 20px;
}
#check2{
    margin-bottom: 40px;
}
.card{
    border: 0px;
    position: relative;
}
.card-header{
    border-width: 1px;
    border-color: #3D3D3D;
}
.card-header p{
    color: #3D3D3D;
    margin: auto;
}
.card-body ul li{
    list-style: none;
}


.menuLateral ul li{
    list-style: circle;
}

/*Flip Card*/
#quiz{
    height: 400px;
    width: 300px;
    position: relative;
    transition: all 0.4s linear;
    transform-style: preserve-3d;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    border-radius: 25px;
    background-color: #ff6f61;
    
}
.front, .back{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.front{
    z-index: 2;
    backface-visibility: hidden;
}
.back{
    z-index: 1;
    transform: rotateY(180deg);
}
#resposta1, #resposta2, #resposta3{
    border: 0px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    height: 50px;
    width: 100%;
}
.card.flipped {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
/*Carousel*/
#questionario{
    border-radius: 50px;
    width: 365px;
    height: 511px;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;

}
.carousel-item{
    text-align: left;
}
.carousel-indicators{
    bottom: -20px;

}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;  
}
.carousel-indicators li{ 
    background-color: #cccccc;
}
.carousel-indicators .active{
    background-color: #3e3e3e;
}
/*Rodapé*/
footer{
    padding: 1% 0% 1% 0%;
    height: 150px;
}
.realizacao{
    margin-left: 5%;
}
.realizacao img{
    margin-right: 47px;
    max-width: 50%;
}
.apoio{
    margin-left: 10%;
}
.apoio img{
    margin-right: 20px;
    max-width: 10%;
}


.cardImg{
    position: relative;
}

/*SideBar*/
#sidebarButton{
    position: fixed;
    margin-top: -12.5px;
    margin-right: -2px;
    background-color: #f5f5f5;
    border: none;
}
.hidden {
  display:none;
}

.containerMenu {
  width: 100%;
}

.step {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.v-stepper {
  position: relative;
  /* visibility: visible; */
}

/* regular step */

.stepContainer{
    max-width: 16.6667%;
    max-height: 100%;
    background-color: #F5F5F5;
    position: fixed;
}
.step .circle {
  background-color: white;
  border: 2px solid #443F57;
  border-radius: 30px;
  width: 30px;    /* +6 for border */
  height: 30px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.step .line {
  top: 34px;
  left: 14px;
  /*   height: 120px; */
  height: 100%;
  position: absolute;
  border-left: 3px solid #443F57;
}

.step.completed .circle {
  visibility: visible;
  background-color: #443F57;
  border-color: #443F57;
  color: #FFF;
}

.step.completed .line {
  border-left: 3px solid #443F57;
}

.step.active .circle {
visibility: visible;
  border-color: #443F57;
}

.step.empty .circle {
    visibility: hidden;
}

.items {
  margin-top: 20px;
  position: relative;
  max-width: 100%;
}

.subItem {
  margin-left: -41px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.subItem a{
    color: black;
    font-size: 13px;
    
}
.subItem p{
    margin-bottom: 20px !important;
    margin-left: 30px!important;
}
.containerItem {
  width: 12px;
}

.item {
  background-color: #FFF;
  border: 2px solid #443F57;
  border-radius: 22px;
  width: 12px;
  height: 12px;
}

.visited {
  background-color: #443F57;
  border: 2px solid #443F57;
  border-radius: 22px;
  width: 12px;
  height: 12px;
}
.step.empty .line {
/*   visibility: hidden; */
/*   height: 150%; */
  top: 0;
  height: 150%;
}

/* ajustar o height de acordo com o numero de itens */
.step:last-child .line {
  top: 34px;
  left: 15px;
  height: 65%;
}

.contentMenu {
  margin-left: 20px;
  display: inline-block;
  padding-top: 6px;
}

.contentMenu .title a {
  font-family: Arial;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #3D3D3D;
}

.contentMenu .subItems {
  font-family: Arial;
  font-size: 16px;
  color: #3D3D3D;
}


.esconder {
    /* hide it for small displays*/
    display: none;
  }
  
@media (min-width: 992px) {
   .esconder {
      display: block;
      /* same width as sidebar */
      margin-left: -16.6667%;
    }
  }
